#PACKAGES REQUIRED

fastapi==0.136.3
uvicorn==0.49.0
pydantic==2.13.4
python-dotenv==1.2.2
google-genai==2.8.0
starlette==1.2.1
typing-extensions==4.15.0


install using package "pip install -r requirements.txt"